.item {
  color: black;
  font-size: 20px;
  margin: 0px;
}

.itemName {
  font-weight: bold;
  padding-top: 20px;
}

.line {
  border: 1px solid #f4f4f4;
}

.deleteButton {
  float: right;
  padding: 12px 20px;
  border: none;
  background-color: #000000da;
  color: rgb(230, 15, 83);
  font-weight: bold;
  margin-top: -5px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.completed {
  text-decoration: line-through;
}
